project:
  type: website
  output-dir: docs #hvis hjemmesiden driller med updates, så kan man slette alt i docs og generere det igen
  resources:
    - abbreviations.yml

filters:
  - abbr_auto
  
website:
  title: "DD2"
  page-navigation: true
  page-footer:
    center: 
      - text: "SKNC"
  
  sidebar:
    style: "docked"
    search: true
    #collapse-level: 0  # antal sider under hver section i sidebar der vises pr. default #0 betyder alt er foldet ud
    collapse-level: 1 #viser kun overskriften, og så skal man selv folde det ud 
    active: none
    contents:
  #        - index.qmd #index er inkluderet i "home" men jeg har fjernet den fra sidebar
      #- section: "Data sources"
      #  contents:
      
      - sites/dd2_enrollment.qmd 
      - sites/data_structure.qmd 

      - text: "---"
      - text: "The DD2 data collection"
      - text: "Primary data"
      - section: "DD2 enrollment data"
        contents: 
        - sites/data sources/dd2_questionnaire.qmd
        
      - section: "Additional DD2 data"
        contents: 
        - sites/data sources/dd2_biobank.qmd
        - sites/data sources/dd2_genetics.qmd
        - sites/data sources/dd2_idnc.qmd

      - text: "Secondary data"
      - section: "External DD2 data"
        contents:         

        - sites/data sources/ddda.qmd
        - sites/data sources/fodstatus.qmd
        - sites/data sources/foedsel.qmd
        
      - text: "---"   
      - section: "Routine registry data"
        contents: 
        - sites/registry/SDS.qmd
        - sites/registry/DST.qmd
  
        

format:
  html:
    css: styles.css
    theme: flatly
    toc: true
    page-layout: full
    grid:
      sidebar-width: 350px
    #include-before-body: abbreviations.qmd



bibliography: "references.bib"
csl: "vancouver-author-date.csl"


