/* css styles */

/* Størrelsen på siden (i nyere versioner kan man gøer det i yml-filen) */
/* css styles */
#quarto-document-content {
  width: 1000px;
}

#quarto-margin-sidebar {
  margin-right: -600px;
  margin-left: 200px;
}


/*
svg {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: auto !important;
  width: auto !important;
}
*/

/* et forsøg på at lave en style tit sas */
/*.sas_sknc {
  background-color: lightpink;
  border: 3px solid red;
  font-weight: bold;
}*/

.sas_sknc {
  background-color: #397d7f; /*#e5e5e5e5;*/
  font-weight: bold;
}