/* css styles */

/* Størrelsen på siden (i nyere versioner kan man gøre det i yml-filen) */
/* css styles */


/* Control main content width */
#quarto-document-content {
  width: 100%;
}
/* Adjust margin sidebar position */
#quarto-margin-sidebar {
  margin-right: -600px;
  margin-left: 200px;
}


